<div
  class="min-h-screen bg-[#070811] text-slate-100 p-6 sm:p-8 font-sans selection:bg-violet-500/30"
>
  <!-- Sarlavha va Top Panel -->
  <div
    class="max-w-7xl mx-auto mb-10 flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4 border-b border-slate-800/40 pb-6"
  >
    <div>
      <h1
        class="text-3xl sm:text-4xl font-black tracking-tight bg-linear-to-r from-white via-slate-200 to-slate-400 bg-clip-text text-transparent"
      >
        Premium Mahsulotlar
      </h1>
      <p class="text-xs sm:text-sm text-slate-400 mt-1">
        Siz uchun eng sara va sifatli mahsulotlar to'plami
      </p>
    </div>
    <span
      class="text-xs font-mono px-3.5 py-1.5 bg-slate-900 border border-slate-800/80 rounded-full text-violet-400 font-semibold tracking-wide shadow-xs"
    >
      Katalog: {{ products().length }} ta mahsulot
    </span>
  </div>

  <!-- Agar ma'lumot hali yuklanmagan bo'lsa (yoki bo'sh bo'lsa), Skeleton darhol chiziladi -->
  @if (products().length === 0) {
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 sm:gap-8"
    >
      @for (dummy of [1, 2, 3, 4, 5, 6, 7, 8]; track dummy) {
        <div
          class="animate-pulse flex flex-col justify-between rounded-2xl border border-slate-800/40 bg-slate-900/10 p-5"
        >
          <div>
            <div
              class="w-full aspect-square rounded-xl bg-linear-to-b from-slate-950 to-slate-900/40 border border-slate-800/30 mb-5 relative"
            >
              <div class="absolute top-3 left-3 h-5 w-16 bg-slate-800/80 rounded-md"></div>
            </div>
            <div class="flex items-center gap-2 mb-3">
              <div class="h-5 w-12 rounded-md bg-slate-800/60"></div>
              <div class="h-3 w-20 rounded bg-slate-800/30"></div>
            </div>
            <div class="space-y-2.5 mb-4">
              <div class="h-3.5 w-full rounded-md bg-slate-800/70"></div>
              <div class="h-3.5 w-2/3 rounded-md bg-slate-800/50"></div>
            </div>
          </div>
          <div class="mt-5 pt-4 border-t border-slate-900/60 flex items-center justify-between">
            <div class="space-y-1.5">
              <div class="h-2 w-8 rounded bg-slate-800/40"></div>
              <div class="h-5 w-20 rounded-md bg-slate-800/80"></div>
            </div>
            <div class="h-8 w-10 rounded-xl bg-slate-800/60 border border-slate-800/40"></div>
          </div>
        </div>
      }
    </div>
  } @else {
    <!-- Ma'lumot kelishi bilan asosiy Grid ko'rsatiladi -->
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 sm:gap-8"
    >
      @for (item of products(); track item.id) {
       <app-product-card [item]="item"></app-product-card>
      }
    </div>
  }
</div>
